.co-branding{
    background:url(http://dev.overflow-hillen.de/img/Logo.svg) no-repeat 0 0;
    min-width:145px;
    min-height:50px;
    margin:14px 16px 0 14px !important;
}
.header-tools{
    background:transparent;
}
.main-header--inner--top{
    background-color:rgba(255, 255, 255, 0.9);
}
@media screen and (max-width:375px){
    .co-branding{
     width:145px !important;
     float:right;
     
    }
    .header--tools{
        clear: right;
    }
}
@media screen and (min-width:376px) and (max-width:425px){
    .co-branding{
        margin:14px 16px 0 14px !important;
        float:right;
        width:165px !important;
    }
}
@media screen and (min-width:426px) and (max-width:600px){
    .co-branding{
        margin:19px 47px 0 19px !important;
        width:234px;
        max-height:57px;
        float:left !important;
    }
}
@media screen and (min-width:760px){
     .co-branding{
        margin:19px 47px 0 19px !important;
        width:234px;
        height:57px;
        float:right;
    }
    .header--tools {
        
        background-color:transparent;
        padding-right:30px;
    }
    .searchBox, .header--tools a{
           height: 63px;
    line-height: 63px;
    }
}

@media screen and (min-width:768px){
    .searchBox{
        width:170px;
    }
}
@media screen and (min-width:760px) and (max-width:1023px){
    .header--tools {
        clear:right;
    }

}
@media screen and (min-width:1024px){
        .header--tools > div{
        padding:50px 10px 20px 10px;
    }
    .searchBox, .header--tools a{
           height: 16px;
           line-height: 16px;
    }
    .searchBox > input[type="submit"],
    .searchBox > input[type="text"]{
        top:auto !important;
        bottom:0%;
    }
}
