.main-header--inner{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-header--inner--top{
    background:rgba(255, 255, 255, 0.95);
}
.co-branding{
    width:234px;
    height:57px;
    margin:19px 47px 0 19px;
    background:url(http://dev.overflow-hillen.de/img/Logo.svg) no-repeat 0 0;
}
.header--tools{background:transparent;}
.header--tools > div{
    padding:19px 10px;
}

.searchBox{
    width: 200px;
    margin:19px 0 0 0;
}
.news-home{
    padding:10px 47px;}

.news-home .article--item{padding:24px 0;}


.footer-nav,
.blog-home{
    padding:0 47px 0 20px;
}
.footer-copy-inner{
    padding:30px 47px 30px 20px;
}
@media only screen and (max-width: 1015px) {
    .searchBox{width:140px;}
    .searchBox, .header--tools a{
    height:75px;
    line-height:75px;
}
}
@media only screen and (max-width: 900px) {
    .searchBox, .header--tools a{height:78px;line-height:78px;}
    .co-branding{width:215px;}
}

@media screen and (max-width:768px){
    .main-header--inner--top{
        align-item:flex-start;
    }
    .co-branding{margin-top:35px;}
}

@media screen and (max-width:450px){
    .co-branding{
        margin:0px 0 0 145px;
        width:165px;
        padding-bottom: 39px;
    }
    .main-header--inner--top{
        padding-top: 19px;
    }
    .header--tools {
        padding-right: 15px;
    }
}
